{% extends '../profile.html' %}
{% load static %}
{% block title %}Assignments{% endblock title %}

{% block anotherlink %}
<link rel="stylesheet" href="{% static 'css/assignment/assignment.css' %}">
{% endblock anotherlink %}


{% block profcontent %}
{% for group in request.user.groups.all %}
{% if group.name == "Teacher"%}
{% include 'assignment/forTeacher.html' %}
{% elif group.name == "Student" %}
{% include 'assignment/forStudent.html' %}
{%endif %}
{% endfor %}
{% endblock profcontent %}



