{% extends '../profile.html' %}
{% load static %}
{% block title %}Assignments{% endblock title %}

{% block anotherlink %}
<link rel="stylesheet" href="{% static 'css/assignment/assignment.css' %}">
<link rel="stylesheet" href="{% static 'css/assignment/prevassignedassignment.css' %}">
{% endblock anotherlink %}


{% block profcontent %}

<div class="container subjects">
    {% if messages %}
      {% for message in messages %}
        <h3 class="text-center">
          {{message}}
        </h3>
        {%endfor %}
    {% endif %}
    <h1 class="text-center">Give Reviews On</h1>
    <div class="row">

      {{form}}

    </div>
</div>


{% endblock profcontent %}



