
{% load static %}
<div class="border-dark navbarside">
    <div class="navbar">
        <ul>
            
            <a href="{% url 'intoassignment' %}"><li><i class="fa-solid fa-envelope-open-text"></i>Assignment</li></a>
            {% for group in request.user.groups.all %}
            {% if group.name == 'Teacher'  %}
            <a href="{% url 'myStudent' %}"><li><i class="fa-solid fa-graduation-cap"></i>My Students</li></a>
            
            
            {% elif group.name == "Student" %}
            <a href="{% url 'myTeacher' %}"><li><i class="fa-solid fa-person-chalkboard"></i>My Teacher's</li></a>
            {% elif group.name == "Admin" %}
            <a href="{% url 'myStudent' %}"><li><i class="fa-solid fa-graduation-cap"></i>Student</li></a>
            <a href="{% url 'myTeacher' %}"><li><i class="fa-solid fa-person-chalkboard"></i>Teacher</li></a>
            {%else%}
            {% endif %}
            {% endfor %}
            {% comment %} <a href=""><li><i class="fa-solid fa-hand-holding-dollar"></i></i>Accounts</li></a> {% endcomment %}
            <a href="{% url 'viewCourse' %} "><li><img src="{% static 'img/course.png' %}" alt="" height="35px" width="35px">   Course</li></a>
            {% comment %} <a href=""><li><i class="fa-solid fa-business-time"></i>Others</li></a> {% endcomment %}
            
        </ul>
    </div>
  
</div>