<div class="col-sm-6  siteDetails">
    <div class="container-fluid detailsInfo">
        <p>
            Hello, Welcome to <span class="yelloBg"> Assignment Management System </span><abbr>AMS</abbr>.
            <br>
            You Will be getting following mentioned features in Our System.
        </p>
        <ul class="ullist">
            <li>Student Can View Their Teacher and Teacher can View Their Students.</li>
            <li>Teacher Can assgin task on the subjects they have been enrolled.</li>
            <li>Student Can Submit the answers on respective task of the subject which they belong with.</li>
            <li>Teacher Can Review the answers on of each student.</li>
            
        </ul>
    </div>
</div>